@import '../../vendor/fonts/fonts.scss';

.vacancy-form {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 30px;
    font-family: $familyText;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

}
