.vacancies {
  display: flex;
  flex-direction: column;
}

.vacancies__title {
  font-size: 30px;
  font-family: 'YS Text', 'Arial', sans-serif;
}

.vacancy-form__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.vacancy-form__label {
  margin-right: 30px;
  font-size: 20px;
  font-family: 'YS Text', 'Arial', sans-serif;
}

.vacancies__subtitle {
  font-size: 25px;
  font-family: 'YS Text', 'Arial', sans-serif;
  text-align: start;
}

.vacancy-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
}
