.tech_info {
  width: 284px;
}

.direction {
  margin: 0 0 16px 0;
}

.courses_list {
  display: block;
  // padding: 16px 0 40px 0;
  margin: 16px 0 40px 0;

  * {
    margin-bottom: 8px;
  }
}

.education_container {
  margin-bottom: 16px;
}
