/** Fonts **/

@import url(./vendor/fonts/fonts.css);

/** Normalize **/

@import url(./vendor/normalize.css);

/** Variables **/

@import url(./vendor/variables/variables.css);

body {
  font-family: 'YS Text', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--White);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;

  margin: 0 auto;

  background-color: var(--Blue-Main);

  h1 {
    font-family: 'YS Display', sans-serif;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: var(--White);
    margin: 0;
    padding: 0;
    transition: opacity linear .4s;

    &:hover {
      opacity: .7;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.link_active {
  color: var(--Black-900);
}

// *,
// *::before,
// *::after {
//   outline: 2px solid red;
// }
